.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.option-btn {
  background-color: white;
  color: #1b82c2;
  border: none;
  font-size: large;
}

.size {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.selected {
  color: #1da1f2;
  font-weight: bold;
}

.option-btn:hover {
  cursor: pointer;
}
